{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="select-container">
    <form action="/titanic" method="post"  >
      <fieldset>
        <div class="form-group">
          <label for="name">Start</label>
          <input type="text" class="form-control" name="start" aria-describedby="emailHelp" placeholder="Start passenger no.">
          <small id="nameHelp" class="form-text text-muted">My heart will go oooon!!!</small>
        </div>
        <div class="form-group">
          <label for="age">End</label>
          <input type="integer" class="form-control" name="end" placeholder="End passenger no.">
        </div>
        <button type="submit" name="all-data-button"class="btn btn-primary">Passengers</button>
      </fieldset>
    </form>

    <form action="/titanic" method="post" class="averages-form" >
      <fieldset>
        <div class="form-group">
          <label for="exampleSelect1">Averages</label>
          <select class="form-control" name="average">
            <option >age</option>
            <option >fare</option>
            <option >3</option>
          </select>
        </div>
      </fieldset>
      <button type="submit" name="averages-button"class="btn btn-primary">Get Average</button>
    </form>

    <form action="/titanic" method="post" class="averages-form" >
      <fieldset>
        <div class="form-group">
          <label for="exampleSelect1">All Stats</label>
          <select class="form-control" name="table">
            <option >Titanic</option>
            <option >Olympics</option>
          </select>
        </div>
      </fieldset>
      <button type="submit" name="stats-button"class="btn btn-primary">Get Statistics</button>
    </form>

    <form action="/titanic" method="post" class="averages-form" >
      <fieldset>
        <div class="form-group">
          <label for="exampleSelect1">1974 Olympics</label>
          <select class="form-control" name="sport">
            <option >Running</option>
            <option >Swimming</option>
            <option >Shooting</option>
          </select>
        </div>
      </fieldset>
      <button type="submit" name="stats-button"class="btn btn-primary">1974 Olympics</button>
    </form>
  </div>

  {% if show_average %}
    <p>
      The average {{average_choice}} was {{avg_data}} 
    </p>
  {% endif %}  


  {% if show_stats %}
    <!-- {% for table in tables %} -->
      {{ stat|safe }}
    <!-- {% endfor %} -->
  {% endif %} 
  {% if show_olympic_stats %}
    <!-- {% for table in tables %} -->
      {{ olympic_stat|safe }}
    <!-- {% endfor %} -->
  {% endif %} 
  <table class="table">
    <!-- {% for table in tables %} -->
      <!-- {{titles[loop.index]}} -->
      {{ table|safe }}
    <!-- {% endfor %} -->
  </table> 
  
    <!-- {{titanic[["age", "sex"]]}} -->
  <!-- {% for row in titanic.head().to_numpy() %}
  {% endfor %} -->
</div>


{% endblock %}