.articles {
  margin-top: 30px;
}
.titanic-container {
  margin: auto;
  margin: 50px 100px;
}
.nav-spread {
  display: flex;
  justify-content: space-between;

}
.jack-container {
  display: flex;
  align-items: center;
  margin: 50px 0;
  justify-content: center;
}

.select-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-between;

  /* flex-direction: row; */
}

.averages-form {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tit-form {
  margin: 0 50px;
}
.nav-logo {
  margin-left: 20px;
}

.passenger-table {
  margin: 50px 0;
}

.cc-form {
  margin-left: 70px;
}

.cc-btn {
  height: 250px;
}
