.articles {
  margin-top: 30px;
}
.container {
  margin: auto;
  margin-top: 50px
}

.jack-container {
  display: flex;
  align-items: center;
  margin: 50px 0;
  justify-content: center;
}

.select-container{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.averages-form {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tit-form {
  margin: 0 50px;
}
.nav-logo {
  margin-left: 20px;
}

.passenger-table {
  margin: 50px 0;
}
